* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-primary);
    background: #fff;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    font-family: 'Raleway', sans-serif;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }

  i {
    display: inline;
  }



  /*
=============== 
fonts 

    font-family: 'Bebas Neue', cursive;

    font-family: 'Codystar', cursive;

    font-family: 'Raleway', sans-serif;

===============
*/

/*
=============== 
Navbar
===============
*/
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .nav-icons {
    display: none;
  }
  .nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .nav-logo {
    height: 150px;
  }
  .nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav-toggle:hover {
    transform: scale(1.2);
  }
  .nav-links li {
    display: block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    transition: .75s ease-in-out;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    font-weight:700;
  }
  .nav-links li:hover {
    color: rgb(179, 179, 179);
    transform: scale(1.5);
    /* padding-left: 2.25rem; */
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 280px;
  }

  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 3em;
    }

    .shopping-cart {
      text-align: right;
      align-items: right;
    }

  @media (min-width: 992px) {
    /* hide toggle button */
    .navbar {
      padding: 1rem 2rem;
    }
    .nav-toggle {
      display: none;
    }
    .nav-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* optional */
      flex-wrap: wrap;
    }
    .nav-links {
      height: auto;
      display: flex;
    }
    .nav-header {
      padding: 0 0;
    }
    .nav-link {
      padding: 0 0;
      margin-right: 0.7rem;
    }
    .nav-link:hover {
      padding: 0;
      background: transparent;
    }
    .nav-icons {
      display: flex;
    }
    .nav-icon {
      margin-right: 0.7rem;
      font-size: 1.2rem;
    }
}

/*
=============== 
Cart
===============
*/

.cart-info {
  border: 0.1rem solid #000;
  color: #000;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: rgb(179, 179, 179);
  border-color: rgb(200, 200, 200);;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.cart-info:hover .cart-info__icon {
  color: #fff;
}

.cart-total-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cart-buttons-container{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cart {
  position: absolute;
  min-height: 10rem;
  background: #fff;
  top: 11.40rem;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}

.show-cart {
  background-color: rgb(179, 179, 179);
  width: 18rem;
  padding: 2rem 1.5rem;
  /* transform: rotateY(-360deg); */
}

.cart-item {
  transition: all 2s ease-in-out;
  display: flex;
}

.item-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  height: 5%;
  width: 5%;
}

.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: #ffffff;
}
#cart-item-price {
  font-size: 0.8rem;
}

/* cart buttons */
.btn {
  background: rgb(225, 225, 225);
  padding: 5%;
  transition: .75s ease-in-out;
  margin: 3%;
}

btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-pink {
  color: red;
  border: 0px solid red;
}
.btn-black {
  color: #000;
  border: 0px solid #fff;
}
.btn-black:hover {
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}
.btn-pink:hover {
  background: red;
  color: #ffffff;
  border: 1px solid #fff;
}

/*
=============== 
Hero
===============
*/

.hero {
  background-image: url(../img/hero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
  
.hero h1 {
  font-family: 'Codystar', cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 7em;
  padding-top: 5%;
}
  
.hero h5 {
  font-family: 'Bebas Neue', cursive;
  margin: 0 auto;
  padding-top: 1%;
  text-align: center;
  width: 50%;
  font-size: 1.75em;
  font-weight: 200;
  color: white;
}
  
.hero .btn-div {
  width: 100%;
 }
  
.hero .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 2em;
  padding: 1%;
  border: none;
  background: none;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.hero .btn a {
  color: #fff;
}

.hero .btn:hover {
  color: #404040;
  font-weight: 700;
  letter-spacing: 3px;
  background: #404040;
  transition: all 0.3s ease 0s;
}

/*
=============== 
About
===============
*/
  
.about h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 200;
  margin: 3% 0;
}
  
.about .about-us {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
  
.about .about-img {
  display: flex;
  align-items: center;
  width: 85%;

}
  
.about img {
  width: 85%;
  height: auto;
  padding-left: 10%;
  padding-bottom: 10%;
}
  
.about .about-content {
  display: inline-block;
  padding-bottom: 5%;
  padding-right: 2%;
  width: 55%;
}

.about .about-description {
  text-align: center;
  font-size: 1.25em;
}

  
.about h3 {
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: rgb(179, 179, 179);
}

.about-us .about-content button {
text-align: center;
margin: 5% 35%;
padding: 2.5%;
}

/*
=============== 
Products
===============
*/

.products {
  background-color:rgba(0, 0, 0, 0.2);
  padding: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;

}

.product-card {
  background-color: #ffffffd3;
  width: 30rem;
  height: 30rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.product-img img {
  width: 60px;
  height: auto;
}


.product-name {
  font-size: 1.2em;

}

.product-price {
  font-size: 1.5em;

}
.product-info {
  display: none;
}

.product-card:hover .product-info {
  display: block;
}

.product-card:hover .product-img {
  display: none;
}

.product-card:hover .product-name {
  display: none;
}

.add-to-cart {
  width: 140px;
  height: 40px;
  background-color: red;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 1.2em;
  padding: 1%;
  border: 0;
  border-radius: 5px;
}

.add-to-cart:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-info {
  color:rgba(0, 0, 0, 0.6);
}

.product-info-par {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product-info-abv {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}

.product-info-ibu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}

.product-info-description {
  padding: 10px;
}

.add-to-cart [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 2em;
  font-weight: 500;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.add-to-cart p {
  padding-left: 25px;
  padding-top: 8px;
  font-weight: 700;
  /* vertical-align: middle; */

}

.add-to-cart i {
  padding-right: 25px;;
}


/*
=============== 
Footer
===============
*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #324d67;
    font-size: 1.45em;
  }

footer   [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 1em;
}
  
footer .footer-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
  
footer span {
  margin: 0 auto;  
  padding: 0 2rem;
  transition: .25s ease-in-out;
  border-radius: 15px;
  border: 0px solid white;
}
  
footer span:hover {
  font-size: 1.75rem;
  border-radius: 15px;
  border: 3px solid white;
}
  
footer i {
  color: white;
  font-size: 2.5em;
  margin: 25% auto;
}
  
footer a {
  color: white;
}
  
footer p {
  display: flex;
  align-items: baseline;
  color: white;
  text-align: center;
}
  