* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-primary);
    background: #fff;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    font-family: 'Lato';
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }


  /*
=============== 
Navbar
===============
*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .nav-icons {
    display: none;
  }
  .nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .nav-logo {
    height: 6em;
  }
  .nav-toggle {
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    cursor: pointer;
    transition: var(--transition);
  }
  .nav-toggle:hover {
    transform: scale(1.2);
  }
  .nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-grey-1);
    cursor: pointer;
    font-size: 1rem;
  }
  .nav-link:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-8);
    padding-left: 2.25rem;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 280px;
  }
  @media (min-width: 992px) {
    /* hide toggle button */
    .navbar {
      padding: 1rem 2rem;
    }
    .nav-toggle {
      display: none;
    }
    .nav-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* optional */
      flex-wrap: wrap;
    }
    .nav-links {
      height: auto;
      display: flex;
    }
    .nav-header {
      padding: 0 0;
    }
    .nav-link {
      padding: 0 0;
      margin-right: 0.7rem;
    }
    .nav-link:hover {
      padding: 0;
      color: var(--clr-primary-5);
      background: transparent;
    }
    .nav-icons {
      display: flex;
    }
    .nav-icon {
      margin-right: 0.7rem;
      color: var(--clr-primary-5);
      font-size: 1.2rem;
      transition: var(--transition);
    }
    .nav-icon:hover {
      color: var(--clr-primary-8);
    }
  }

  /*
=============== 
Hero
===============
*/

.hero {
    background-image: url(img/hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  .hero h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 5em;
    padding-top: 20%;
  }
  
  .hero h5 {
    margin: 0 auto;
    padding-top: 1%;
    text-align: center;
    width: 45%;
    font-size: 1.30em;
    font-weight: 200;
    color: white;
  }
  
  .hero .btn-div {
    width: 100%;
  }
  
  .hero .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1.5em;
    padding: 1%;
  }
  /*
  =============== 
  About
  ===============
  */
  
  .about h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 200;
    margin: 5% 0;
    }
  
    .about .about-us {
      display: flex;
      flex-direction: row;
    }
  
    .about .about-img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .about img {
      width: 70%;
      height: 80%;
    }
  
    .about .about-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex: 0 0 40%;
      padding-bottom: 5%;
    }
  
  
  
    .about h3 {
    margin-bottom: 5%;
    margin-left: 10%;
    text-align: center;
    width: 100%;
    }

/*
=============== 
About
===============
*/
.products {
  background-color:rgba(0, 0, 0, 0.2);
  padding: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;

}

.product-card {
  background-color: #ffffffd3;
  width: 180px;
  height: 440px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.product-img img {
  width: 60px;
  height: auto;
}


.product-name {
  font-size: 1.2em;

}

.product-price {
  font-size: 1.5em;

}
.product-info {
  display: none;
}

.product-card:hover .product-info {
  display: block;
}

.product-card:hover .product-img {
  display: none;
}

.product-card:hover .product-name {
  display: none;
}

.add-to-cart {
  width: 140px;
  height: 40px;
  background-color: red;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 1.2em;
  padding: 1%;
  border: 0;
  border-radius: 5px;
}

.product-info {
  color:rgba(0, 0, 0, 0.6);
}

.product-info-par {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product-info-abv {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 3px;
}

.product-info-ibu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 3px;
}

.product-info-description {
  padding: 10px;
}


    
    /*
=============== 
Footer
===============
*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #324d67;
  }
  
  footer .footer-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  footer span {
    margin: 0 auto;
    
  }
  
  
  
  footer i {
    color: white;
    font-size: 2.5em;
    margin: 25% auto;
  }
  
  footer a {
    color: white;
  }
  
  footer p {
    display: flex;
    align-items: baseline;
    color: white;
    text-align: center;
  }
  
    .about .btn {
      margin-top: 3%;
    }
  
    
